<div class="row bio">
    <div class="small-8 medium-10 columns">
        <h2>{{user.name}}</h2>
        <p>{{user.location}}</p>
    </div>
    <div class="small-4 medium-2 columns">
        <img src="{{user.avatar_url}}">
    </div>
</div>