<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Turing Connect</title>
    <meta name="description" content="Contact Information for Students at the Turing School">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="//cdn.jsdelivr.net/foundation/5.0.2/css/foundation.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" title="Stylings" charset="utf-8">
    <script src="//cdn.jsdelivr.net/foundation/5.0.2/js/vendor/custom.modernizr.js"></script>
    <script>window.Modernizr || document.write('<script src="/javascripts/custom.modernizr.js"><\/script>')</script>
</head>

<body>
    <div class="container">
        
        <div class="row">
            <div class="small-12 columns">
                <h1>Turing Connect</h1>
            </div>
        </div>
        
        {{{body}}}

    </div> <!--! end of #container -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script>window.$ || document.write('<script src="/javascripts/jquery.min.js"><\/script>')</script>
    <script src="//cdn.jsdelivr.net/foundation/5.0.2/js/foundation.min.js"></script>
    <script>window.Foundation || document.write('<script src="/javascripts/foundation.min.js"><\/script>')</script>
    <script>$(document).foundation();</script>
</body>

</html>